fastapi==0.103.2
email-validator
uvicorn[standard]
sqlalchemy>=2.0
alembic
psycopg2-binary

# Pydantic v2 stack
pydantic==2.12.5
pydantic-settings==2.0.3

PyJWT
bcrypt==4.0.1
passlib[bcrypt]
stripe
python-multipart
